.signup-container {
  /* border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: space-between;
  flex-direction: row;
  font-size: 20px;
  background-color: rgb(227, 233, 227);
  margin: 0 auto;
  width: 400px;
  height: 500px;
  padding: 20px; */
  /* border: 1px solid black; */
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  /* justify-content: center; */
  width: 100%;
  /* align-items: space-between; */
  font-size: 20px;
  /* background-color: rgb(227, 233, 227); */
  margin: 0 auto;
  max-width: 450px;
  width: 1000px;
  height: 550px;
  box-sizing: border-box;
  padding: 20px;
  /* background-color: #cccccc; */
}

#signup-title {
  position: absolute;
  /* top: 310px; */
  top: 275px;
  right: 775px;
  font-size: 35px;
  font-weight: bold;
}

#createAccBtn {
  background-color: #15883e;
  align-items: center;
  padding-top: 5px;
  border-radius: 5px;
}

.signup-inputs {
  /* display: flex;
  justify-content: space-between;
  margin: 1%;
  font-size: 15px;
  width: 100%; */
  display: flex;
  justify-content: center;
  margin: 1%;
  font-size: 18px;
  width: 400px;
  height: 40px;
  box-sizing: border-box;
  border-radius: 5px;
  border: 1px solid #ccc;
  padding-left: 10px;
}

.signupdemoBtn {
  font-size: 16px;
  line-height: 18px;
  padding: 10px 15px;
  height: 40px;
  width: 400px;
  border-radius: 5px;
  color: #fff;
  position: relative;
  bottom: 100px;
  /* background-color: #15883e; */
  cursor: pointer;
}

.signup-button {
  /* display: flex;
  justify-content: center;
  padding: 5%;
  font-size: 20px;
  border-radius: 30px;
  width: 100%;
  color: #fff;
  background-color: #15883e;
  cursor: pointer; */
  font-size: 16px;
  line-height: 18px;
  padding: 10px 15px;
  height: 40px;
  width: 400px;
  border-radius: 5px;
  color: #fff;
  background-color: #15883e;
  cursor: pointer;
}
.signup-button:hover {
  background-color: #1fb453;
}

.signup-or {
  margin: 1em auto;
  position: relative;
  text-align: center;
  font-size: 16px;
  position: relative;
  right: 205px;
  bottom: 50px;
  /* font-weight: 800; */
}

.signup-form {
  position: relative;
  top: 80px;
  right: 415px;
}

.form-errors {
  color: red;
  font-size: 14px;
  /* width: 100%; */
  position: relative;
  /* border: 1px solid red; */
  right: 840px;
  top: 220px;
  min-width: 600px;
}

#demoBtn2 {
  background-color: black;
}

#demoBtn2:hover {
  background-color: rgb(20, 20, 20);
  /* color: black; */
}
