.signup-container {
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: space-between;
  flex-direction: row;
  font-size: 20px;
  background-color: rgb(227, 233, 227);
  margin: 0 auto;
  max-width: 450px;
  padding: 20px;
}

.signup-inputs {
  display: flex;
  justify-content: space-between;
  margin: 1%;
  font-size: 15px;
  width: 100%;
}

.signup-button {
  display: flex;
  justify-content: center;
  padding: 5%;
  font-size: 20px;
  border-radius: 30px;
  width: 100%;
  color: #fff;
  background-color: #15883e;
  cursor: pointer;
}
.signup-button:hover {
  background-color: #1fb453;
}
