#top-dashboard {
  width: 1240px;
  background-color: white;
  margin-top: 46px;
  display: block;
  overflow: auto;
  height: 100vh;
  /* background-color: white; */
  /* z-index: -11; */
}

#dashboard-title {
  position: relative;
  right: 220px;
  top: 20px;
}

.dashboard-songs {
  display: flex;
  flex-wrap: wrap;
  /* justify-content: space-between; */
  /* align-items: center; */
  height: 515px;
  width: 900px;
  overflow: none;
  /* z-index: -10; */
}

.dashboard-tracks-container {
  /* border: 1px solid red; */
  position: relative;
  top: 50px;
  right: 150px;
  /* use the height below when data */
  height: 700px;
  /* height: 160px; */
  /* height: 10000px; */
  width: 900px;
  display: flex;
  justify-content: center;
  /* align-items: center; */
  box-sizing: border-box;
  /* overflow: scroll; */
}

#side-dashboard {
  position: fixed;
  top: 56px;
  right: 350px;
  height: 100%;
  width: 350px;
  border-left: 1px solid #ccc;
}

#side-top-border {
  position: fixed;
  top: 76px;
  right: 365px;
  width: 300px;
  border-top: 1px solid #ccc;
}

.dashboard-cover-container {
  /* display: flex; */
  height: 490px;
  width: 370px;
  padding-top: 20px;
  margin-left: 25px;
  margin-bottom: 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 100px;
  border: 5px solid black;
  background-color: #15883e;
  /* border: 5px solid #15883e;
  background: black; */
  /* display: flex;
  flex-wrap: wrap; */
  cursor: pointer;
}

.dashboard-cover-container:hover {
  border: 5px solid #15883e;
  background: black;
  /* background-color: #15883e;
  border: 5px solid black; */
  /* color: #1fb453; */
}

.dashboard-cover {
  height: 300px;
  width: 300px;
  border-radius: 100px;
  margin-bottom: 20px;
  /* border: 1px solid #15883e; */
}

.dashboard-cover-title {
  font-size: 22px;
  text-decoration: none;
  color: whitesmoke;
  margin-bottom: 10px;
}

.dashboard-cover-artist {
  margin-top: 10px;
  color: whitesmoke;
  text-decoration: none;
  font-size: 18px;
}

#top-dashboard {
  display: flex;
  flex-direction: column;
  align-items: center;
}
