#search-splash {
  background: #f0f0f0;
  /* background: rgba(211, 211, 211, 0.411); */
  position: relative;
  right: 10px;
  width: 470px;
  border: none;
  height: 45px;
  padding: 0;
  padding-left: 15px;
  padding-right: 15px;
  font-size: 16px;
  border-radius: 3px 0 0 3px;
}

#search-btn {
  cursor: pointer;
  /* background: rgba(211, 211, 211, 0.411); */
  background-color: #f0f0f0;
  /* margin-right: 18px; */
  border: none;
  height: 45px;
  width: 50px;
  font-size: 19px;
  /* background-color: #f0f0f0; */
  border-radius: 0 3px 3px 0;
  background: url(https://a-v2.sndcdn.com/assets/images/search-dbfe5cbb.svg)
    15px 15px no-repeat;
  /* position: relative; */
  /* top: 15px; */
  /* left: 5px; */
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  background-size: 40%;
}

#search-or {
  /* top: 200px; */
  /* right: 50px; */
  font-size: 20px;
  padding-right: 20px;
  /* padding-bottom: 80px; */
  display: flex;
  align-items: center;
}

#search-btn-div {
  background-color: #f0f0f0;
  width: 50px;
  /* border: 1px solid black; */
  position: relative;
  right: 10px;
  /* bottom: 5px; */
  height: 45px;
}

#search-or-div {
  /* border: 1px solid black; */
  /* position: relative; */
  /* top: 20px; */
  position: relative;
  left: 10px;
  top: 5px;
}

#upload-search-btn {
  cursor: pointer;
  background-color: #15883e;
  color: #fff;
  /* border-color: #ccc; */
  border: none;
  font-size: 17px;
  min-width: 164px;
  height: 46px;
  margin-right: 25px;
  padding-top: 5px;
  border-radius: 5px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

#up-btn-div {
  position: relative;
  left: 10px;
}

#search-container {
  /* width: 1280px; */
  background-color: white;
  display: flex;
  justify-content: space-between;
  max-width: 800px;
  /* position: absolute; */
}

#search-container1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1280px;
  /* height: 100px; */

  background-color: white;
}
