#player {
  display: block;
  max-width: 64rem;
  width: 100%;
}

#music-player {
  display: flex;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 48px;
  min-width: 1240px;
  border-top: 1px solid lightgray;
  background: #f2f2f2;
  font-family: "Open Sans", sans-serif;
  z-index: 10;
  margin-left: -46px;
}
