.upload__form__c {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.up__f__c {
  position: relative;
  top: 150px;
  border: 5px solid #15883e;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
  /* align-items: space-between; */
  font-size: 20px;
  /* background-color: rgb(227, 233, 227); */
  margin: 0 auto;
  max-width: 450px;
  width: 1000px;
  height: 500px;
  box-sizing: border-box;
}

#upload__title {
  position: absolute;
  left: 170px;
  top: 10px;
  font-size: 35px;
  font-weight: bold;
}

.upload__inputs {
  display: flex;
  justify-content: center;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  font-size: 18px;
  width: 400px;
  height: 40px;
  box-sizing: border-box;
  border-radius: 5px;
  border: 1px solid #ccc;
  padding-left: 10px;
}

#audio__input {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 100%;
  height: 30px;
  width: 200px;
  font-size: 16px;
}

.uploadBtn {
  font-size: 16px;
  line-height: 18px;
  padding: 10px 15px;
  height: 40px;
  width: 400px;
  border-radius: 5px;
  color: #fff;
  background-color: #15883e;
  cursor: pointer;
}

.uploadBtn:hover {
  background-color: #1fb453;
}
