#trending-tracks-title {
  /* font-size: 24px; */
  text-align: center;
  /* padding-top: 20px; */
  /* margin-bottom: 30px; */
  font-size: 24px;
  margin-top: 15px;
  margin-bottom: 30px;
  color: #242424;
  line-height: 1.5;
}

#trending-tracks-btn {
  display: flex;
  justify-content: center;
  position: relative;
  /* use this when data */
  /* top: 470px; */
  left: 200px;
  cursor: pointer;
  background-color: #15883e;
  border: 1px solid #15883e;
  color: #fff;
  /* border-color: #ccc; */
  border: none;
  font-size: 18px;
  width: 100px;
  height: 46px;
  min-width: 250px;
  /* height: 113px; */
  /* margin-right: 25px; */
  /* padding-top: 12px; */
  border-radius: 5px;
  text-align: center;
}
/*
#placeholder-img {
  display: flex;
  justify-content: center;
  height: 300px;
  width: 1000px;
} */
