/* TODO Add site wide styles */
@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@100&display=swap");
/* @import url("https://fonts.googleapis.com/css2?family=Overpass:wght@100;200&display=swap"); */
* {
  font-family: "Overpass", sans-serif;
  margin: 0;
}

html {
  background: rgb(240, 240, 240);
}

#container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  /* margin-bottom: -1000px; */
}

button:focus {
  outline: 0;
}
