.splash-slider-container {
  color: white;
}

#slider1title {
  display: flex;
  justify-content: center;
  position: fixed;
  top: 140px;
  margin-bottom: 8px;
  font-size: 40px;
  font-weight: 100;
}

#slider1text {
  font-size: 20px;
  max-width: 530px;
  text-align: center;
  position: relative;
  top: 170px;
  /* z-index: 1; */
}

.slider-img {
  /* display: block;
  margin-left: auto;
  margin-right: auto; */
  /* margin: auto; */
  /* width: 40%; */
  position: fixed;
  right: 340px;
  display: flex;
  /* flex-flow: column nowrap; */
  /* justify-content: center; */
  align-items: center;
  /* box-sizing: border-box; */
  /* right: 20px; for 13 inch mac make a media query */
  top: 5px;
  z-index: -2;
  height: 450px;
  width: 1240px;
}

#slider1btns {
  /* border: 3px solid red; */
  display: flex;
  justify-content: center;
  position: relative;
  top: 180px;
  /* z-index: 1; */
}

#slider1btn1 {
  cursor: pointer;
  background: transparent;
  color: #fff;
  border-color: #ccc;
  border: 1px solid #ccc;
  font-size: 17px;
  min-width: 164px;
  height: 30px;
  margin-right: 25px;
  padding-top: 12px;
  border-radius: 5px;
  text-align: center;
}
#slider1btn2 {
  cursor: pointer;
  background-color: #15883e;
  border: 1px solid #15883e;
  color: #fff;
  /* border-color: #ccc; */
  border: none;
  font-size: 17px;
  min-width: 164px;
  height: 33px;
  margin-right: 25px;
  padding-top: 12px;
  border-radius: 5px;
  text-align: center;
}

.slidbtns {
  cursor: pointer;
  position: relative;
  /* display: flex; */
  /* flex-direction: column; */
  /* justify-content: center; */
  /* align-items: center; */
  top: 275px;
  left: 220px;
}

.slide {
  opacity: 0;
  transition-duration: 1s ease;
}

.slide.active {
  opacity: 1;
  /* transform: translateX(-50%); */
  transition-duration: 1s ease;
  /* transform: scale(1.08); */
}

/* .carousel {
  width: 303.2%;
  height: 100%;
  transform: translateX(-33%);
  overflow: hidden;
  display: flex;
  transition: 10s ease;
}  */
