#creator-pic {
  z-index: -11;
}

#creator-splash-container {
  /* border: 1px solid black; */
  width: 1240px;
  height: 350px;
  position: relative;
  bottom: 315px;
}

#creator-title {
  font-size: 36px;
  /* font-weight: 100; */
  color: white;
  position: relative;
  bottom: 290px;
  left: 55px;
}

#creator-text {
  font-size: 24px;
  line-height: 1.35;
  margin: 11px 0 26px;
  position: relative;
  bottom: 290px;
  left: 55px;
  color: white;
  max-width: 520px;
}

#creator-find-btn {
  display: flex;
  justify-content: center;
  cursor: pointer;
  background: transparent;
  color: #fff;
  border: 1px solid #ccc;
  font-size: 17px;
  max-width: 164px;
  height: 30px;
  margin-right: 25px;
  padding-top: 12px;
  border-radius: 5px;
  text-align: center;
  position: relative;
  bottom: 300px;
  left: 55px;
}
