.login-container {
  /* border: 1px solid black; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  /* align-items: space-between; */
  font-size: 20px;
  /* background-color: rgb(227, 233, 227); */
  margin: 0 auto;
  max-width: 450px;
  width: 1000px;
  height: 550px;
  box-sizing: border-box;
}

.login-or {
  margin: 1em auto;
  position: relative;
  text-align: center;
  font-size: 16px;
  /* font-weight: 800; */
}

.before-or {
  display: inline-block;
  position: relative;
  right: 30px;
  width: 172px;
  top: 100px;
  border-top: 1px solid #333;
  content: " ";
  position: absolute;
  top: 0.7em;
}
.after-or {
  display: inline-block;
  position: relative;
  left: 30px;
  width: 172px;
  top: 100px;
  border-top: 1px solid #333;
  content: " ";
  position: absolute;
  top: 0.7em;
}

#login-title {
  position: absolute;
  top: 310px;
  font-size: 35px;
  font-weight: bold;
}

.login-inputs {
  display: flex;
  justify-content: center;
  margin: 1%;
  font-size: 18px;
  width: 400px;
  height: 40px;
  box-sizing: border-box;
  border-radius: 5px;
  border: 1px solid #ccc;
  padding-left: 10px;
}

#demoBtn {
  background-color: black;
}

#demoBtn:hover {
  background-color: rgb(20, 20, 20);
  /* color: black; */
}

.loginFormBtns {
  font-size: 16px;
  line-height: 18px;
  padding: 10px 15px;
  height: 40px;
  width: 400px;
  border-radius: 5px;
  color: #fff;
  background-color: #15883e;
  cursor: pointer;
}

.loginFormBtns:hover {
  background-color: #1fb453;
}

.nav-bar-btn {
  width: 50px;
  font-size: 20px;
  text-decoration: none;
  color: whitesmoke;
  margin: 10px;
  padding: 10px;
  background: #333;
  border: none;
}

#signInBtn {
  border: 1px solid whitesmoke;
  align-items: center;
  padding-top: 5px;
  width: 75px;
  border-radius: 5px;
  background: transparent;

  /* display: flex;
  flex-direction: column;
  align-items: center; */
}

.form2-errors {
  color: red;
  font-size: 14px;
  text-decoration: none;
  /* list-style-type: none; */
  /* width: 100%; */
  position: relative;
  top: 20px;
  right: 80px;
  /* border: 1px solid red; */
  /* right: 840px; */
  /* top: 220px; */
  /* min-width: 600px; */
}
